@import "compass/reset";

#cv {
    background-color: #111;
}

.mes {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    border: solid 1px #999;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
}